@model IEnumerable<Lm2pb.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}
    
<h3 class="productions">All Bikes</h3>
@foreach (var item in Model)
{

    <hr />
        @Html.ActionLink(@Html.DisplayFor(modedItem => item.Name ).ToString(), @Html.DisplayFor(modelItem => item.Name).ToString().Split(' ')[0])

}<br /><br />

   
@Html.ActionLink("Create", "Create", "BikeManager")
   
